body{
    background-color: rgb(243, 180, 97);
}

.container{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 1rem;   
}

#container2{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 1rem;
}

img{
    width: 600px;
    height: 450px;
    border-radius:1rem;
}

.btn{
    background-color: rgb(109, 95, 160);
    color: cornsilk;
}